table {
    width: 90%;
    margin: 25px auto;
    border-collapse: collapse;
    background-color: white;
}

caption {
    color: #0b4f71;
    font-size: 24px;
    font-weight: bold;
    padding: 10px;
}

th {
    background-color: #b9e3f5;
    color: #0b4f71;
    text-align: center;
    padding: 12px;
    border: 1px solid #0b4f71;
}

td {
    text-align: center;
    padding: 10px;
    border: 1px solid #777777;
}

tr:nth-child(even) {
    background-color: #e8f4f8;
}

tr:hover {
    background-color: #d2edf7;
}